# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# IDE / Editor files
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
